.container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr fr;
    height: 100px;
}

#rosa {
    background-color: pink;
}

#blue {
    background-color: blue;
    grid-row: 1/3
}

#yellow {
    background-color: yellow;
}